/*전체 css*/
.App {
  display: flex;
  /* overflow: hidden; */
  height: 100vh;
}

button{
  cursor: pointer;
}

/*Home css*/
.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1970FF;
}

.Home > .container {
  width: 50%;
}

.Home > .container > div {
  text-align: center;
}

.Home > .container > .logo{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-bottom: 5%;
}

.Home > .container > .container-button-box{
  background-color: white;
  border-radius: 10px;
  padding: 5% 0;
}

.Home > .container > .container-button-box > .container-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home > .container > .container-button-box > .container-buttons button{
  width: 80%;
  padding: 1.5% 0;
  margin: 2.5% 0;
  font-size: 1rem;
  background-color: #0060FF;
  border:none;
  border-radius: 4px;
  color:white;
  font-weight: bold;
}

.Home > .container > .container-button-box > .container-buttons button:hover{
  background-color: #0041ab;
}

/* 대기실 */
.WaitingRoom{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 대기실 헤더 */
.WaitingRoom > header{
  width: 100%;
  height: 12%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  font-weight: 500;
}

.WaitingRoom > header > div{
  padding: 10%;
  cursor: pointer;
}

.WaitingRoom > header > div > span{
  color: #0060ff;
}

/* 대기실 내용 설정*/
.WaitingRoom > section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.WaitingRoom > section > div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.WaitingRoom > section > .left{
  padding: 0 5% 0 10%;
}

.WaitingRoom > section > .left > .join{
  height: 60%;
}

.WaitingRoom > section > .left > .setting{
  border-top: 1px solid #F1F0F0;
  height: 40%;
}

.WaitingRoom > section > .left > .setting > p{
  font-size: 1rem;
  font-weight: bold;
  color: #292D32;
}

.WaitingRoom > section > .left > .setting > .onoff{
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 5%;
}

.WaitingRoom > section > .left > .setting > .onoff > div{
  width: 100%;
  margin: 5% 0;
  cursor: pointer;
}

.WaitingRoom > section > .left > .setting > .onoff > div > span{
  padding: 2% 2.5%;
  margin-right: 2%;
  color: white;
  border-radius: 100%;
}

/* 방생성 및 참가 */
.WaitingRoom > section > .left > .join > div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5%;
}

.WaitingRoom > section > .left > .join > div > input,button
{
  border-radius: 4px;
  padding:2.5%;
}

.WaitingRoom > section > .left > .join > div > input
{
  border: 1px solid #D9D9D9;
}

.registerBtn{
  background-color: #0060FF;
  border: none;
  color: white;
  font-weight: bold;
}

/* 설정 화면 보여주기 */
.WaitingRoom > section > .right{
  justify-content: center;
  align-items: center;
  background-color: #F1F0F0;
  padding: 0 10%;
  
}

.WaitingRoom > section > .right > div{
  position: relative;
  width: 100%;
  height: auto;
}

.WaitingRoom > section > .right > div> video{
  width: 100%;
  height: auto;
  border-radius: 10px;
  border:none;
}

.WaitingRoom > section > .right > div> div{
  position: absolute;
  bottom: 5%;
}

.WaitingRoom > section > .right > div> .nickname{
  left: 5%;
  color: white;
  font-size: 1rem;
  padding: 1% 3%;
  background-color: rgba(0, 0, 0,0.3);
  border-radius: 20px;
}


.WaitingRoom > section > .right > div> .audio{
  right: 5%;
  border-radius: 50%;
  padding: 2% 2.5%;
  background-color: #EB5757;
  color: white;
}


/* 화상통화 */
.VideoCallRoom{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 화상통화 헤더 */
.VideoCallRoom > header{
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}

.VideoCallRoom > header > div{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5%;
}

.VideoCallRoom > header > div > .icon{
  color: #0060ff;
  font-size: 2.5rem;
  margin-right: 2.5%;
}

.VideoCallRoom > header > div> .title> p{
  font-size: 1.5rem;
  margin: 3% 0;
}

.VideoCallRoom > header > div> .title> .date{
  font-size: 0.8rem;
  color:#969696;
}

/* 화상통화 section */
.VideoCallRoom > section{
  width: 100%;
  height: 87.8%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.VideoCallRoom >section > div{
  width: 100%;
  height: 100%;
  background-color: #F1F0F0;
}

/* left-화상통화 */
.VideoCallRoom > section > .left > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.VideoCallRoom > section > .left > .participant{
  display: flex;
  gap: 1rem;
  height: 85%;
  padding: 0 6.5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#video-container {
  position: relative;
  overflow: hidden; /* 이모지가 영역을 벗어나지 않도록 설정 */
  width: 100%;
  height: 100%;
}

#video-container > video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-container > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#video-container > .audio-off {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.6rem;
  color: white;
  background-color: #EB5757;
  right: 5%;
  bottom: 5%;
  border-radius: 100%;
}

#video-container > .audio-off > span {
  width: 100%;
  height: 100%;
}

#video-container > .audio-off > span > svg{
  width: 100%;
  height: 100%;
}


/* 메인 비디오/서브 비디오 설정 */
.VideoCallRoom > section > .left > .participant > #mainVideo{
  width: 55%;
  height: 65%;
  border-radius: 0.5rem;
}

.VideoCallRoom > section > .left > .participant > #subVideo{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.VideoCallRoom > section > .left > .participant > #subVideo > button{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0 1%;
}

.VideoCallRoom > section > .left > .participant > #subVideo > .video-slider{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.VideoCallRoom > section > .left > .participant > #subVideo > .video-slider > .slider-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  height: 100%;
  transition: transform 0.3s ease;
}
.VideoCallRoom > section > .left > .participant > #subVideo > .video-slider > .slider-box > div{
  width: 19%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.VideoCallRoom > section > .left > .participant > #subVideo > .video-slider > .slider-box > div > span,
.VideoCallRoom > section > .left > .participant > #mainVideo > div > span {
  font-size: 1rem;
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1% 3%;
  border-radius: 50rem;
}

.VideoCallRoom > section > .left > .participant > #mainVideo > div{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

/* 설정 */
.VideoCallRoom > section > .left > .setting{
  display: flex;
  flex-direction: row;
  height: 15%;
  background-color: white;
  padding: 0 6.5%;
}

.VideoCallRoom > section > .left > .setting > div{
  display: flex;
  flex-direction: end;
}

.VideoCallRoom > section > .left > .setting > div > span{
  color: white;
  font-size: 1.5rem;
}

.VideoCallRoom >section > .left > .setting > .setting-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.VideoCallRoom >section > .left > .setting > .setting-icon > span {
  padding: 10% 14%;
  background-color: #0060FF;
  border-radius: 100%;
  cursor: pointer;
}

.VideoCallRoom >section > .left > .setting > .setting-icon > .chat,
.VideoCallRoom >section > .left > .setting > .setting-icon > .emoji {
  background-color:#DFEBFF;
  color:#0041ab;
}

.VideoCallRoom >section > .left > .setting > .setting-icon > .exit {
  color: white;
  background-color: #EB5757;
  border-radius: 50px;
  margin-left:10%;
}

/* right-채팅 */
.VideoCallRoom > section > .right{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-left:1px solid #EAE9E9;
  overflow: hidden;
}

.VideoCallRoom > section > .right > .user-list{
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.VideoCallRoom > section > .right > .user-list > div > .list-box {
  height: 100%; /* list-box가 user-list의 크기를 차지하도록 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  padding: 0 1rem;
}

.VideoCallRoom > section > .right > .user-list > div > .list-box > div{
  text-align: center;
  padding: 1rem 0;
}

.VideoCallRoom > section > .right > .user-chat{
  height: 55%;
  flex: 1;
}

.VideoCallRoom > section > .right > div > .select{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.VideoCallRoom > section > .right > div > .select > p{
  width: 30%;
  padding: 3% 5%;
  text-align: center;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
}

.select-chat.active, .select-emoji.active {
  background-color: #DFEBFF;
  color: #0060FF;
}


.VideoCallRoom > section > .right > div > .select > .close{
  width: 10%;
  padding: 1.5%;
  border-radius: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.VideoCallRoom > section > .right > div > .chat,
.VideoCallRoom > section > .right > div > .emoji{
  width: 100%;
  height: 75%;
  flex: 1;
}

/* 채팅 메시지 */
.message-list,
#userList > .list-box{
  flex: 1;
  padding: 0 1rem;
  overflow-y: auto;
  max-height: 100%;
}

#userList{
  height: 60%;
  width: 100%;
  flex: 1;
}

/* 웹킷 기반 브라우저에서 스크롤바를 숨김 */
.message-list::-webkit-scrollbar,
#userList > .list-box::-webkit-scrollbar {
  width: 0px;                   /* 스크롤바의 너비를 0px로 설정 */
  height: 0px;                  /* 수평 스크롤바의 높이를 0px로 설정 */
}

.message-list::-webkit-scrollbar-thumb,
#userList > .list-box::-webkit-scrollbar-thumb {
  background: transparent;      /* 스크롤바 thumb(슬라이더)의 배경을 투명으로 설정 */
}

.message-list::-webkit-scrollbar-track,
#userList > .list-box::-webkit-scrollbar-track {
  background: transparent;      /* 스크롤바 track(트랙)의 배경을 투명으로 설정 */
}

.message{
  display: flex;
  align-items: center;
}

.message > .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: white;
  border: 0.2rem solid white;
  margin-right: 1rem;
}

.message > .message-box {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  overflow: hidden;           /* 텍스트가 박스를 넘지 않도록 숨김 */
  word-wrap: break-word;      /* 긴 단어가 넘칠 경우 줄바꿈 처리 */
  white-space: normal;        /* 텍스트가 자동으로 줄바꿈되도록 설정 */
  max-width: 60%; 
}

.message > .message-box > p {
  margin: 0;
  font-size: 0.7rem;
  color: #969696;
}

.message > .message-box > img {
  width: 1rem;
  height: 1rem;
}


.VideoCallRoom > section > .right > .sender-box{
  display: flex;
  width: 100%;
  height: 15%;
  border-radius: none;
  background-color: white;
  color: black;
}

.VideoCallRoom > section > .right > .sender-box > .sender{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.VideoCallRoom > section > .right > .sender-box > .sender > .input-send > div > .emoji-menu {
  display: flex;
  justify-content: center;
}

.VideoCallRoom > section > .right > .sender-box > .sender > .input-send > div > .emoji-menu > button {
  background: none;
  border: none;
}

.VideoCallRoom > section > .right > .sender-box > .sender > .input-send > div > .emoji-menu > button > img{
  width: 90%;
  height: 100%;
  padding: 0% 5%;
}

.VideoCallRoom > section > .right > .sender-box > .sender > .input-send > div > .emoji-menu > button:hover {
  background: #DFEBFF;
  border-radius: 4px;
}

.VideoCallRoom > section > .right > .sender-box > .sender > .user-select{
  color: #8D8F98;
  font-size: 0.8rem;
  padding-left: 5%;
}
.VideoCallRoom > section > .right > .sender-box > .sender > .user-select> select{
  background-color: #F6F6F6;
  padding: 1%;
  border: none;
  border-radius: 4px;
  color: #5F6067;
}

.VideoCallRoom > section > .right > .sender-box > .sender> .input-send{
  font-size: 1.2rem;
  background-color: #F6F6F6;
  border-radius: 50px;
  width: 100%;
  margin-top: 2%;
}
.VideoCallRoom > section > .right > .sender-box > .sender> .input-send > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.VideoCallRoom > section > .right > .sender-box > .sender> .input-send > div > input{
  width: 90%;
  outline: none;
  padding: 2.5% 0% 2.5% 10%;
  background-color: none;
  border: none;
  border-radius: 50px;
  background-color: #F6F6F6;
}

.VideoCallRoom > section > .right > .sender-box > .sender> .input-send > div > button{
  padding: 4%;
  margin: 1.5%;
  height: auto;
  background-color: #0060FF;
  border-radius: 100%;
  outline: none;
  color: white;
  border: none;
}

/* 메시지 */
#eventMessage{
  color: #969696;
  font-size: 0.7rem;
  justify-content: center;
}

.message{
  padding: 2%;
}

/* 이모지 애니메이션 효과 */
@keyframes moveUpAndDisappear {
  0% {
      transform: translateY(100%); /* 화면 아래에서 시작 */
      opacity: 1; /* 불투명하게 시작 */
  }
  100% {
      transform: translateY(-100%); /* 화면 위로 이동 */
      opacity: 0; /* 투명하게 사라짐 */
  }
}

.emojiEvents {
  position: absolute;
  opacity: 0;
  animation: moveUpAndDisappear 3s forwards; /* 5초 동안 애니메이션 */
}
